/* COLOR SCHEME Hex codes: ethereal ivory #E4E4DE, sophisticated sage #C4C5BA, timeless noir #1B1B1B, muted moss #595f39

 */ 

 body{
   font-family: Helvetica, Arial,  sans-serif;
   background-color: #E4E4DE;
   margin:0;
}

#container{
   margin-top: 100px;
}
 #nav {
    display: flex;
    justify-content: space-between;
    background-color: #C4C5BA;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
 }

 #logo{
   margin:20px;
 }

 .navlinks{
    margin: 10px;
    padding: 15px;
    background-color: #595f39;
    border-radius: 10px;
    color: white;
 }

 #links{
   display: flex;
 }

 .title{
   text-align: center;
 }
 
 .header{
   text-align: center;
 }
 .paragraph{
    background-color: #C4C5BA;
    width: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #595f39;
 }

 
 hr {
  width: 700px;
  margin-left: auto; 
  margin-right: auto; 
  background-color: black;
  border: 5px;
  height: 2px;
}

.secondaryheader {
padding: 10px; 
}

.tile {
background-color: #C4C5BA;
width: auto;
margin: 40px;
padding: 20px;
border: 5px solid #595f39;
border-radius: 20px;}

.flex {
display: flex;
}

.flexpic {
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
width: 35%;
}

.flexforphotos {
display: flex; 
justify-content: space-between; 
align-items: center; 
width: 100%; 
}

.fourpic {
width: 20%; 
height: auto; 
object-fit: cover; 
border: 2px solid #ccc; 
border-radius: 10px; 
}

.footer {
text-align: center;
background-color: #C4C5BA;
border: 5px solid #595f39;
margin: 40px;
padding: 30px;
border-radius: 20px;
}